ASPNETCORE_ENVIRONMENT=Production
# ASPNETCORE_ENVIRONMENT=Development # Bỏ chú thích dòng này và thêm chú thích vào dòng trên để chạy local
AiVision__BaseUrl=http://ai-service:8000
# AiVision__BaseUrl=http://localhost:8000 # Bỏ chú thích dòng này và thêm chú thích vào dòng trên để chạy local

MangaApi__BaseUrl=http://manga-api:8080
# MangaApi__BaseUrl=http://localhost:5010 # Bỏ chú thích dòng này và thêm chú thích vào dòng trên để chạy local

ConnectionStrings__DefaultConnection=Server=tcp:mangapublishing-swp391.database.windows.net,1433;Initial Catalog=MangaPublishing;Persist Security Info=False;User ID=manga_admin;Password=YOUR_SQL_PASSWORD_HERE;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

Jwt__Key=SuperSecretKeyForMangaPublishingSystemTokenValidationPurposeOnly!
Jwt__Issuer=MangaPublishingSystem
Jwt__Audience=MangaPublishingSystemUsers
Jwt__ExpiryMinutes=15
Jwt__RequireHttpsMetadata=False

VnPay__TmnCode=YOUR_VNPAY_TMNCODE
VnPay__HashSecret=YOUR_VNPAY_HASHSECRET
VnPay__ReturnUrl=http://YOUR_VPS_IP:5010/api/wallets/deposit/return
VnPay__QueryUrl=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VnPay__PaymentUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VnPay__IpnUrl=http://YOUR_VPS_IP:5010/api/wallets/deposit/ipn
VnPay__FrontendReturnUrl=http://YOUR_FRONTEND_DOMAIN/wallet/deposit/callback

EmailSettings__Username=tieuviem0607@gmail.com
EmailSettings__SmtpServer=smtp.gmail.com
EmailSettings__Port=587
EmailSettings__Password=YOUR_GMAIL_APP_PASSWORD
EmailSettings__EnableSsl=True
EmailSettings__DefaultFromName=Manga Publishing System
EmailSettings__DefaultFromEmail=tieuviem0607@gmail.com

StorageSettings__Provider=Firebase
StorageSettings__Firebase__Bucket=manga-32554.firebasestorage.app

Gemini__ApiKey=YOUR_GEMINI_API_KEY
